body, html{
   min-width: 320px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width: 320px;             /* As IE ignores !important it will set width as 1000px; */
}

div.green_background {
    background-color: #e8f0c5;
}

div.row {
    margin-top: 20px;
    margin-bottom: 10px;
}


div#social {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e8f0c5;
}
#social i {
    color: #115910;
}

#f {
    background-color: #6ca438;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #e8f0c5;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-bottom-radius: 4px;
    border-bottom-radius: 4px;
}
a {
    color: #FFF;
}

#center_logo {
    padding: 20px;
}

#welcome_msg {
    padding: 30px;
}

.default_hide {
    display:none;
}

#main-option {
    padding-bottom: 10px;
}

#main-option .btn {
    padding: 0px;
    padding-left: 0.5em;
}

#main-option #search-submit {
    padding-left: 0em;
}

#main-option .navbar-form {
    margin-top: 0px;
    padding: 0px;
}

#main-option label {
    font-size: large;
    padding-right: 1em;
}

#main-option .row {
    margin-top: 15px;
    margin-bottom: 5px;
}

#main-option-container {
    background-color: #6ca438;
    color: #ffffff;
}
.navbar .navbar-collapse li {
    border: 1px solid white;
    font-weight: bold;
}

#loader-gif, #me-loader-gif {
    margin: 50px;
}

button.btn, .btn-group > .btn-group:last-child > .btn:first-child {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-bottom-radius: 4px;
    border-bottom-radius: 4px;
}
/* Table */
.table tbody>tr>td {
    vertical-align: middle;
}

/* - pair-table */
div.pair-table-outer tr .btn {
    padding: 0px;
}

div.pair-table-outer tr a {
    color: #606060;
}

div.pair-table-outer tr a:hover, div.pair-table-outer tr a:focus {
    color: #115910;
    text-decoration: underline;
}

div.pair-table {
    color: #115910;
    font-weight: bold;
}

div.pair-table-container {
    margin-top: 20px;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
}

/* - row / col */
td.pair_table_col_thumbnail1 img {
    float: right;
}
td.pair_table_col_thumbnail2 img {
    float: left;
}

td.pair_table_col_vote_count {
    text-align: right;
}

td.pair_table_col_name1, td.pair_table_col_name2 {
    width: 30%;
    min-width: 70px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 3px;
}


/* Other */

#search-box-container {
    width: 75%;
    max-width: 313px;
    margin: auto;
    padding: 0px 15px;
}

#search-box-container input.form-control {
    width: 70%;
    max-width: 270px;
    float: left;
}
#search-box-container button {
    float: right;
}

img.modal-user {
    margin:0 auto;
}

div.modal-heart {
    padding-top: 24px;
    color: #6ca438;
    font-size: 50px;
}

#us-main, #play-main {
    padding-top: 20px;
}

#back-home-content {
    font-size: 48px;
    margin: 10px;
}

#tool-bar {
    padding-top: 30px;
}

#us-container div.modal-body {
    margin-bottom: 30px;
}

#page_about {
    padding-top: 20px;
}

p.page-icon-name {
    color: #606060;
    padding-top: 15px;
    margin: 0px;
}

button.modal-button {
    width: 70%;
}

div.enhance {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0px;
}

#comment-div {
    width: 90%;
    margin: 0 auto;
}

.fb-comments, .fb-comments span, .fb-comments iframe {
    min-width: 100% !important;
    max-width: 100% !important;
}

.share-button {
    margin-bottom: 20px;
}

div.modal-button-container {
    margin: 10px 0;
}

div.modal {
    min-width: 320px;
}

div.play-user-container input {
    width: 100%;
}

p.modal-button-content {
    margin-bottom: 0px;
    width: 100%;
}

i.thumbnail-fb-icon {
    color: #3B5998;
}

div.page-button {
    padding-bottom: 20px;
    padding-top: 15px;
}

/* Responsive CSS Code */
@media(max-width:767px){
    .table-responsive td {
        font-size: 14px;
        padding: 5px 1px;
    }
    .table-responsive img {
        min-width: 32px;
        min-height: 32px;
    }
    .table-responsive td button img {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
    }
    div.pair-table-container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 10px 1px;
    }
    #comment-div {
        width: 100%;
    }
    a.navbar-brand {
        vertical-align: middle;
    }
    #img-logo {
        height: 38px;
        width: 130px;
        margin-top: 6px;
    }
    div.navbar.navbar-default.navbar-fixed-top {
        padding: 5px 0px;
        margin-bottom: 5px;
    }
    #tool-bar {
        padding-top: 10px;
    }
    div.play-user-container {
        padding: 0px;
    }
    div.modal-heart i{
        font-size: 24px;
    }
    div.modal-heart {
        padding: 0px;
        padding-top: 18px;
    }
    div.modal-body {
        padding: 5px 0px;
    }
    div.modal-footer {
        padding: 5px 0px;
    }
    div.modal-button-container {
        padding: 0px;
    }
    button.modal-button {
        padding: 10px 0px;
    }
    div.navbar.navbar-default.navbar-fixed-top {
        padding: 0px;
        margin: 0px;
    }
}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}
