body, html{
   min-width: 320px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width: 320px;             /* As IE ignores !important it will set width as 1000px; */
}

div.green_background {
    background-color: #e8f0c5;
}

div.row {
    margin-top: 20px;
    margin-bottom: 10px;
}

#pair_table_container {
    margin-top: 20px;
}

.table tbody>tr>td {
    vertical-align: middle;
}
td.pair_table_col_thumbnail1 img {
    float: right;
    min-height: 40px;
    min-width: 40px;
}
td.pair_table_col_thumbnail2 img {
    float: left;
    min-height: 40px;
    min-width: 40px;
}

td.pair_table_col_vote_count {
    text-align: right;
}
#pair_table {
    color: #115910;
    font-weight: bold;
}

div#social {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #e8f0c5;
}
#social i {
    color: #115910;
}

#f {
    background-color: #6ca438;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #6ca438;
}
a {
    color: #FFF;
}

#center_logo {
    padding: 20px;
}

#welcome_msg {
    padding: 30px;
}

#pair_table_container {
    width: 90%;
    margin-left:5%;
    margin-right:5%;
}

.default_hide {
    display:none;
}

#main-option {
    padding-bottom: 10px;
}

#main-option .btn {
    padding: 0px;
    padding-left: 0.5em;
}

#main-option #search-submit {
    padding-left: 0em;
}

#main-option .navbar-form {
    margin-top: 0px;
    padding: 0px;
}

#main-option label {
    font-size: large;
    padding-right: 1em;
}

#main-option .row {
    margin-top: 15px;
    margin-bottom: 5px;
}

#main-option-container {
    background-color: #6ca438;
    color: #ffffff;
}
.navbar .navbar-collapse li {
    border: 1px solid white;
    font-weight: bold;
}

#loader-gif {
    margin: 50px;
}

button.btn, .btn-group > .btn-group:last-child > .btn:first-child {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-bottom-radius: 4px;
    border-bottom-radius: 4px;
}

#main-table .btn {
    padding: 0px;
}

#main-table a {
    color: #606060;
}

#main-table a:hover, #main-table a:focus {
    color: #115910;
    text-decoration: underline;
}

#search-box-container {
    width: 75%;
    max-width: 313px;
    margin: auto;
    padding: 0px 15px;
}

#search-box-container input.form-control {
    width: 70%;
    max-width: 270px;
    float: left;
}
#search-box-container button {
    float: right;
}

#us-img0, #us-img1 {
    margin:0 auto;
}

#new-pair-heart {
    padding-top: 100px;
    color: #6ca438;
    font-size: large;
}

#us-main {
    height:500px;overflow:auto;
    padding-top: 20px;
}
