body, html{
   min-width: 320px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width: 320px;             /* As IE ignores !important it will set width as 1000px; */
   background-color: #FFF;
   color: #000;
}

div.navbar.navbar-default.navbar-fixed-top {
    background-color: #ffdf4b;
}

div.navbar.navbar-default.navbar-fixed-top.active li>a {
    background-color: #fff3c5;
}

div.navbar.navbar-default.navbar-fixed-top li {
    border: 1px solid rgba(0,0,0,0);
}

div.green_background {
    background-color: #e8f0c5;
}

div.row {
    margin-top: 20px;
    margin-bottom: 10px;
}


div#social {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #e8f0c5;
}
#social i {
    color: #115910;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

#f {
    background-color: #6ca438;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff3c5;
    color: #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-bottom-radius: 4px;
    border-bottom-radius: 4px;
}
a {
    color: #FFF;
}

#center_logo {
    padding: 20px;
}

#welcome_msg {
    padding: 30px;
}

.default_hide {
    display:none;
}

#main-option {
    padding-bottom: 10px;
}

#main-option .btn {
    padding: 0px;
    padding-left: 0.5em;
}

#main-option #search-submit {
    padding-left: 0em;
}

#main-option .navbar-form {
    margin-top: 0px;
    padding: 0px;
}

#main-option label {
    font-size: large;
    padding-right: 1em;
}

#main-option .row {
    margin-top: 15px;
    margin-bottom: 5px;
}

#main-option-container {
    background-color: #6ca438;
    color: #ffffff;
}
.navbar .navbar-collapse li {
    border: 1px solid white;
    font-weight: bold;
}

#loader-gif, #me-loader-gif {
    margin: 50px;
}

button.navbar-toggle {
    border: 0px;
}

button.btn, .btn-group > .btn-group:last-child > .btn:first-child {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-bottom-radius: 4px;
    border-bottom-radius: 4px;
}
/* Table */
.table tbody>tr>td {
    vertical-align: middle;
}

/* - pair-table */
div.pair-table-outer tr .btn {
    padding: 0px;
}

div.pair-table-outer tr a {
    color: #000;
}

div.pair-table-outer tr a:hover, div.pair-table-outer tr a:focus {
    color: #115910;
    text-decoration: underline;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a {
    color: #115910;
}

div.pair-table {
    color: #115910;
    font-weight: bold;
}

div.pair-table-container {
    margin-top: 0px;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
}

/* - row / col */
td.pair_table_col_thumbnail1 img {
    float: right;
    width: auto;
    height: auto;
}
td.pair_table_col_thumbnail2 img {
    float: left;
    width: auto;
    height: auto;
}
td.pair_table_col_thumbnail1 {
    width: 8%;
}
td.pair_table_col_thumbnail2 {
    width: 8%;
}

td.pair_table_col_vote_count {
    text-align: right;
    width: 10%;
}

td.pair_table_col_heart {
    width: 5%;
}

td.pair_table_col_comment {
    width: 6%;
}

td.pair_table_col_name1, td.pair_table_col_name2 {
    width: 28%;
    min-width: 70px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px 3px;
}


/* Other */

#search-box-container {
    width: 75%;
    max-width: 313px;
    margin: auto;
    padding: 0px 15px;
}

#search-box-container input.form-control {
    width: 70%;
    max-width: 270px;
    float: left;
}
#search-box-container button {
    float: right;
}

img.modal-user {
    margin:0 auto;
}

div.modal-heart {
    padding-top: 24px;
    color: #6ca438;
    font-size: 50px;
}

#us-main, #play-main {
    padding-top: 20px;
}

#back-home-content {
    font-size: 48px;
    margin: 10px;
}

#tool-bar {
    padding-top: 30px;
}

#us-container div.modal-body {
    margin-bottom: 30px;
}

#page_about, #page_sponsor, #page_privacy, #page_term {
    padding-top: 20px;
}

p.page-icon-name {
    color: #606060;
    padding-top: 15px;
    margin: 0px;
}

button.modal-button {
    width: 70%;
}

div.enhance {
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0px;
}

#comment-div {
    width: 90%;
    margin: 0 auto;
}

.fb-comments, .fb-comments span, .fb-comments iframe {
    min-width: 100% !important;
    max-width: 100% !important;
}

div.comment-button-section {
    margin-bottom: 20px;
}

div.modal-button-container {
    margin: 10px 0;
}

div.modal {
    min-width: 320px;
}

div.play-user-container input {
    width: 100%;
}

p.modal-button-content {
    margin-bottom: 0px;
    width: 100%;
}

i.thumbnail-fb-icon {
    color: #3B5998;
}

div.page-button {
    padding-bottom: 20px;
    padding-top: 15px;
}

div#page_privacy a, p.minor_content a, div.modal a {
    color: #555;
    text-decoration: underline;
}

div#page_privacy a:hover, p.minor_content a:hover, div.modal a:hover {
    color: #000;
    cursor:pointer;
}

.minor_content {
    font-size: small;
    margin: 0px;
}

div#page_privacy div, div#page_term div {
    text-align: left;
}

div#page_privacy li, div#page_term li {
    line-height: 28px;
}

div.modal-footer .row {
    margin-top: 0px;
    margin-bottom: 0px;
}

h5.date-sub {
    text-align: center;
}

button.btn-default {
    background-color: rgba(0, 0, 0, 0)    !important;
}

a.help-a {
    color: #666;
}

div.row {
    margin-top: 0px;
}

h1 {
    margin-top: 30px;
}

a#help-button {
    color: #999;
    text-decoration: underline;
    cursor:pointer;
}
a#help-button:hover {
    color: #000;
}

#stat {
    font-weight: bold;
}

#baobao {
    margin-top: 5px;
}

#comment-indicator {
    color: #449D44;
}

div.baobao-gossip-container {
    margin: 0px;
    padding: 0px;
    margin-bottom: -16px;
}
div.baobao-gossip-container img{
    margin: 0px auto;
}

/* Responsive CSS Code */
@media(max-width:767px){
    .table-responsive td {
        font-size: 14px;
        padding: 5px 1px;
    }
    .table-responsive img {
        max-width: 28px;
        max-height: 28px;
    }
    .table-responsive td button img {
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
    }
    div.pair-table-container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        margin-top: 20px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 10px 1px;
    }
    #comment-div {
        width: 100%;
    }
    div#comment-table-outer {
        padding: 0px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    a.navbar-brand {
        vertical-align: middle;
    }
    #img-logo {
        height: 38px;
        width: 181px;
        margin-top: 11px;
    }
    div.navbar.navbar-default.navbar-fixed-top {
        padding: 5px 0px;
        margin-bottom: 5px;
    }
    #tool-bar {
        padding-top: 10px;
    }
    div.play-user-container {
        padding: 0px;
    }
    div.modal-heart i{
        font-size: 24px;
    }
    div.modal-heart {
        padding: 0px;
        padding-top: 18px;
    }
    div.modal-body {
        padding: 5px 0px;
    }
    div.modal-footer {
        padding: 5px 0px;
    }
    div.modal-button-container {
        padding: 0px;
    }
    button.modal-button {
        padding: 10px 0px;
    }
    div.navbar.navbar-default.navbar-fixed-top {
        padding: 0px;
        margin: 0px;
        height: 60px;
    }

    #welcome_msg {
        padding: 0px 10px 20px 10px;
    }
    body {
        margin-top: 60px;
    }
    button.navbar-toggle {
        margin-top: 13px;
    }
    #username-a {
        background-color: #fff;
    }
    div.container.pair-table-outer {
        padding: 0px;
    }
    div.baobao-gossip-container {
        margin-bottom: -5px;
    }
    div.comment-button-section button {
        margin: 5px 0px;
    }
}
@media(min-width:768px){
    .table-responsive img {
        max-width: 50px;
        max-height: 50px;
    }
    #promo-head {
        margin-left: 20%;
    }
}
@media(min-width:992px){
}
@media(min-width:1200px){}
